@font-face {
	font-family: "Gilroy";
	src:
	local("gilroylight.woff2"),
	url(../fonts/gilroylight.woff2) format("woff2"),
	url(../fonts/gilroylight.woff) format("woff");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src:
	local("gilroyextrabold.woff2"),
	url(../fonts/gilroyextrabold.woff2) format("woff2"),
	url(../fonts/gilroyextrabold.woff) format("woff");
	font-weight: 800;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	text-decoration: none;
	background-color: #ffffff;
}

.container-index {
	position: relative;
	z-index: 2;
	margin-top: -110px;
}

.main-header {
	width: 1040px;
	height: 298px;
	margin-top: 40px;
	padding: 0 60px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.main-header_catalog {
	/*min-*/height: 186px;
}

.main-header img {
	position: absolute;
	left: 59px;
	top: -18px;
}

.main-header img:hover {
	opacity: 0.6;
}

.main-header img:active {
	opacity: 0.3;
}

.search_interface-purchase_wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 1px;
}

.index-interface_list,
.purchase-list {
	padding: 0;
	margin: 0;
}

.index-interface_list {
	width: 260px;
	padding-left: 21px;
}

.purchase-list {
	display: flex;
	justify-content: space-between;
	width: 211px;
	margin-left: 7px;
}

.purchase-list li:nth-child(1) {
	position: relative; 
	padding-left: 30px;
}

.purchase-list li:nth-child(1):before {
	content: "";
	position: absolute;
	top: 6px;
	left: -1px;
	width: 16px;
	height: 16px;
	background-image: url("../img/compare.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.purchase-list li:nth-child(2) {
	position: relative; 
	padding-left: 30px;
}

.purchase-list li:nth-child(2):before {
	content: "";
	position: absolute;
	top: 4px;
	left: 8px;
	width: 16px;
	height: 16px;
	background-image: url("../img/cart.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.lists-wrapper {
	display: flex;
	justify-content: space-between;
	width: 500px;
	margin-top: 47px;
	margin-right: 1px;
}

.search-form {
	margin-top: 30px;
	margin-left: -1px;
	padding-top: 3px;
	position: relative;
	width: 440px;
	display: flex;
}

.search-input {
	width: 356px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
	background-color: #f7e296;
	padding-left: 37px;
	padding-top: 9px;
	padding-bottom: 6px;
	border: none;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-image: url("../img/search.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.search-input:focus {
	color: #000000;
	border-bottom: 2px solid black;
}

.search-button {
	display: none;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: rgb(0, 0, 0);
	background-color: #f7e296;
}

.search-input:focus + .search-button {
	width: 84px;
	height: 47px;
	display: block;
	border: 2px solid black;
}

.search-input:focus + .search-button:hover {
	background-color: #000000;
	color: #ffffff;
}

.search-input:hover {
	color: rgba(0, 0, 0, 0.6);
}

.search-input:focus + .search-button:active {
	display: block;
	background-color: #000000;
	color: rgba(255, 255, 255, 0.3);
}

.list-style_reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.index-interface_item {
	position: relative; 
	padding-left: 7px;
}

.index-interface_item::before {
	content: "";
	position: absolute;
	top: 4px;
	left: -20px;
	width: 16px;
	height: 16px;
	background-image: url("../img/user.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.purchase-list li:nth-child(1) {
	padding-left: 20px;
}

.anchor-reset {
	text-decoration: none;
}

.main-header {
	background-color: #f7e296;
}

.interface-anchor {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
	font-style: normal;
	color: #000000;
}

.interface-anchor:hover {
	opacity: 0.6;
}

.interface-anchor:active {
	opacity: 0.3;
}

.navigation_list {
	margin: 0;
	padding: 0;
	padding-top: 33px;
	display: flex;
	position: relative;
}

.catalog-open {
	position: relative;
	padding-right: 30px;
}

.catalog-open::after,
.catalog_in-open::after {
	content: url(../img/plus.svg);
  position: absolute;
  top: 1px;
	right: 3px;
	width: 16px;
	height: 16px;
	opacity: 0.3;
}

.catalog_in-open::after {
	top: 35px;
	left: 230px;
}

.navigation_list .navigation_item:first-child {
	box-sizing: border-box;
	margin-right: auto;
}

.catalog_list {
	display: none;
}

.catalog-open:hover + .catalog_list {
	display: flex;
	position: absolute;
	z-index: 4;
	width: 660px;
  min-height: 162px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
  padding-right: 500px;
	background-color: #f7e296;
}

.catalog_in-open:hover + .catalog_list {
	display: flex;
	position: absolute;
	left: -60px;
	z-index: 4;
	width: 600px;
  min-height: 162px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
  padding-left: 60px;
  padding-right: 500px;
	background-color: #f7e296;
}

.catalog_list li:nth-child(1) {
	margin-right: 59px;
}

.catalog_list li:nth-child(2) {
	margin-right: 75px;
}

.catalog_list li:nth-child(4) {
	margin-right: 85px;
}

.catalog_list li:nth-child(6) {
	margin-right: 290px;
}

.slider-wrapper {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 92px;
	overflow: hidden;
}

.devices-slider {
	position: relative;
	display: flex;
	width: 300%;
}

.slider-wrapper_inner {
display: flex;
}

.devices-slider input[type="radio"] {
	display: none;
}

.radio_button1:checked ~ label[for="btn-1"] {
	background-image: url("../img/slider-button.svg");
}

.radio_button2:checked ~ label[for="btn-2"] {
	background-image: url("../img/slider-button.svg");
}

.radio_button3:checked ~ label[for="btn-3"] {
	background-image: url("../img/slider-button.svg");
}

#btn-1:checked ~ .slider-wrapper_inner {
	transform: translate(0);
}

#btn-2:checked ~ .slider-wrapper_inner {
	transform: translate(-1160px);
}

#btn-3:checked ~ .slider-wrapper_inner {
	transform: translate(-2320px);
}

.navigation_item>a,
.devices-slider a {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.2em;
	font-style: normal;
	color: #000000;
	text-transform: uppercase;
}

.devices-slider a {
	display: inline-block;
	margin-bottom: 46px;
}

.slider1_column_right a {
	margin-bottom: 55px;
}

.slider2_column_right a {
	margin-bottom: 14px;
}

.slider3_column_right a {
	margin-bottom: 46px;
}

.slider_button {
	z-index: 1;
	display: inline-block;
	width: 12px;
	height: 12px;
	bottom: 120px;
	vertical-align: middle;
	margin-right: 17px;
	border: 2px solid transparent;
	background-repeat: no-repeat;
	background-image: url("../img/slider-button-empty.svg");
	background-position: center center;
	background-size: cover;
}

.devices-slider label:nth-of-type(1) {
	position: absolute;
	top: 325px;
	left: 997px;
}

.devices-slider label:nth-of-type(2) {
	position: absolute;
	top: 325px;
	left: 1030px;
}

.devices-slider label:nth-of-type(3) {
	position: absolute;
	top: 325px;
	left: 1063px;
}

.navigation_item>a:hover {
	opacity: 0.6;
}

.navigation_item>a:active {
	opacity: 0.3;
	background-color: #f0c52e;
}

.devices-slider a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog_list_item a {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.01em;
	color: #000000;
}

.catalog_list_item a:hover {
	opacity: 0.6;
}

.catalog_list_item a:active {
	opacity: 0.3;
}

.product-categories {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 93px;
}

.categories_list {
	list-style: none;
  padding-left: 0;
	display: flex;
	/*! justify-content: space-between; */
}

.categories_item {
	display: inline-block;
	margin-right: 40px;
}

.imgcat {
	margin-left: auto;
	margin-right: auto;
}

.categories_item h3 {
	display: inline-block;
	width: 160px;
}

.categories_item a {
	display: inline-block;
	background-color: #f7e296;
	width: 160px;
	height: 160px;
}

.categories_item:nth-child(1) img {
	padding: 52px 32px 53px 31px;
}

.categories_item:nth-child(2) img {
	padding: 41px 36px 2px 38px;
}

.categories_item:nth-child(3) img {
	padding: 38px 40px 35px 49px;
}

.categories_item:nth-child(4) img {
	padding: 50px 25px 45px 28px;
}

.categories_item:nth-child(5) img {
	padding: 32px 49px 30px 55px;
}

.categories_item:nth-child(6) img {
	padding: 49px 15px 42px 13px;
}

.categories_item:nth-child(2) h3 {
	width: 100px;
}

.categories_link {
	margin-bottom: 15px;
}

.categories_item:hover a {
	background-color: #f0c52e;
}

.categories_item a:active img {
	opacity:0.3;
}

.devices-slider b {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 56px;
	letter-spacing: 0.014em;
	font-style: normal;
	color: #000000;
}

.advertising-info {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #464646;
}

.slider_1 .advertising-info {
	padding-top: 4px;
	letter-spacing: 0.01em;
	margin: 0;
	margin-top: 15px; 
}

.slider_2 .advertising-info,
.slider_3 .advertising-info {
	padding-top: 4px;
	padding-right: 100px;
	letter-spacing: 0.01em;
	margin: 0;
	margin-top: 15px; 
	margin-bottom: 43px;
}

.slider_1 p:nth-of-type(2) {
	letter-spacing: 0.01em;
	margin: 0;
	margin-top: -4px; 
	margin-bottom: 43px;
}

.slider_1,
.slider_2,
.slider_3 {
	display: flex;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.slider1_column_left {
	width: 440px;
	padding-left: 90px;
	padding-right: 52px;
}

.slider2_column_left {
	width: 440px;
	padding-left: 116px;
	padding-right: 52px;
	padding-top: 12px;
}

.slider3_column_left {
	width: 440px;
	padding-left: 31px;
	padding-right: 52px;
	padding-top: 65px;
}

.slider1_column_right {
	padding-left: 17px;
	padding-top: 79px;
	position: relative;
}

.slider2_column_right {
	padding-left: 86px;
	padding-top: 79px;
	position: relative;
}

.slider3_column_right {
	padding-left: 76px;
	padding-top: 79px;
	position: relative;
}

.slider1_column_right::before,
.slider2_column_right::before,
.slider3_column_right::before {
	content: url("../img/rect.png");
	position: absolute;
	z-index: -1;
	top: 29px;
	left: 18px;
}

.slider2_column_right::before {
	top: 29px;
	left: 87px;
}

.slider3_column_right::before {
	top: 29px;
	left: 77px;
}

.slider1_column_right::after,
.slider2_column_right::after,
.slider3_column_right::after {
	position: absolute;
	z-index: -1;
}

.slider1_column_right::after {
	content: url("../img/01.png");
	width: 167px;
	top: 8px;
	right: 6px;
}

.slider2_column_right::after {
	content: url(../img/02.png);
	width: 195px;
	top: 9px;
	right: 57px;
}

.slider3_column_right::after {
	content: url(../img/03.png);
	width: 200px;
	top: 9px;
	right: 54px;
}

.slider1_column_right a,
.slider2_column_right a,
.slider3_column_right a {
	display: inline-block;
	width: 220px;
	height: 32px;
	padding-top: 8px;
	padding-left: 2px;
	text-align: center;
	position: relative;
	z-index: 2;
}

.slider1_column_right a:hover,
.slider2_column_right a:hover,
.slider3_column_right a:hover {
	background-color: #f0c52e;
}

.slider1_column_right a::after,
.slider2_column_right a::after,
.slider3_column_right a::after {
	content: "";
	position: absolute;
	top: 16px;
	right: 1px;
	width: 220px;
	height: 8px;
	background-color: #f0c52e;
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: -1;
}

.slider1_column_right a:hover::after,
.slider2_column_right a:hover::after 
.slider3_column_right a:hover::after{
	display: none;
}

.slider_1_info {
	margin-top: -8px;
	margin-left: -3px;
}

.slider_3_info {
	width: 300px;
	padding-left: 0px;
}

.slider_3_info th {
	padding-right: 10px;
}

.slider_1_info td {
	padding-right: 75px;
}

.slider_1_info td,
.slider_1_info th {
	text-align: left;
}

.slider_1_info th {
	vertical-align: bottom;
	padding-top: 4px;
}

.slider_1_info th,
.slider_2_info p:nth-child(2),
.slider_3_info th {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.01em;
	font-style: normal;
	color: #464646;
}

.slider_2_info p:nth-child(1) {
	margin-bottom: 7px;
}

.slider_2_info p:nth-child(2) {
	margin-top: 0px;
	padding-left: 1px;
}

.slider_3_info {
	margin-left: -5px;
}

.slider_3_info td:nth-child(1) {
  padding-top: 2px;
	padding-left: 3px;
}

.slider_3_info td:nth-child(2) {
  padding-top: 2px;
	padding-left: 25px;
}

.slider_3_info th:nth-child(1) {
  padding-top: 4px;
	padding-right: 11px;
}

.slider_3_info th:nth-child(2) {
  padding-top: 4px;
	padding-left: 20px;
}

.slider_1_info td,
.slider_2_info p:nth-child(1),
.slider_3_info td {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	letter-spacing: 0.01em;
	font-style: normal;
	color: #000000;
}

.categories_item_heading {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.01em;
	font-style: normal;
	color: #000000;
}

.navigation_item_anchor {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.navigation_item:nth-child(2) {
	display: inline;
	margin-right: 33px;
}

.navigation_item:nth-child(3) {
	margin-right: 109px;
}

.navigation_item:nth-child(4) {
	margin-right: -4px;
}

.services {
	background-image: linear-gradient(to top, #e5e5e5 80.5%, #ffffff 18.5%);
	width: 100%;
  margin-bottom: 4px;
}

.services-wrapper {
	padding: 0;
	display: flex;
	width: 1160px;
	min-height: 360px;
	margin-left: auto;
	margin-right: auto;
}

.tabs-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 278px;
	padding-top: 51px;
  margin-right: auto;
  z-index: 1;
}

.tabs-wrapper::after {
	content: "";
	position: absolute;
	bottom: 71px;
	left: 277px;
	width: 6px;
	height: 319px;
	background-color: #000000;
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: -1;
}

.services-info {
  width: 760px;
}

.tabs-wrapper button {
	position: relative;
	width: 160px;
	height: 38px;
  vertical-align: middle;
	margin-bottom: 26px;
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	background: transparent;
	border: 0; 
	z-index: 1;
}

.tabs-wrapper button:hover {
	background-color: #f0c52e;
}

.tabs-wrapper button:active {
	width: 278px;
	background-color: #000000;
	color: #f7e184;
	padding-right: 121px;

}

.tabs-wrapper button:nth-child(2) {
	margin-bottom: 27px;
}

.tabs-wrapper button::after {
	content: "";
	position: absolute;
	top: 15px;
	right: 0px;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	background-position: 0 0;
	background-repeat: no-repeat;
	z-index: -1;
}

.tabs-wrapper button:active::after {
	display: none;
}

.services_list {
	padding: 0;
}

.services_list li:nth-child(2),
.services_list li:nth-child(3) {
	display: none;
}

.services_item {
	display: flex;
	width: 896px;
}

.services_item_column {
	display: flex;
  flex-direction: column;
  width: 460px;
  margin-right: 98px;
}

.services_item_heading {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
  letter-spacing: 0.017em;
  margin-top: 28px;
  margin-bottom: 16px;
  padding-left: 2px;
	font-style: normal;
	color: #000000;
}

.services_item_info {
	padding-right: 20px;
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
  letter-spacing: 0.019em;
	font-style: normal;
	color: #464646;
}

.services_image_1 {
	padding-top: 40px;
}

.partners {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
  padding-top: 88px;
}

.partners_list {
	display: flex;
	padding: 0;
	margin: 0;
	min-height: 190px;
}

.partners-anchor img:nth-child(odd) {
	opacity: 0.2;
}

.partners-anchor img:nth-child(even) {
	display: none;
}

.partners-anchor img:nth-child(odd) {
	display: block;
}

.partners-anchor:hover img:nth-child(odd),
.partners-anchor:focus img:nth-child(odd) {
	display: none;
}

.partners-anchor:hover img:nth-child(even),
.partners-anchor:focus img:nth-child(even) {
	display: block;
}

.partners_item:nth-child(1),
.partners_item:nth-child(2) {
	margin-right: 40px;
}

.partners_item:nth-child(3) {
  margin-right: 37px;
}

.information {
	display: flex;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: -5px;
}

.about-us {
	width: 540px;
	min-height: 655px;
  padding-top: 8px;
	margin-right: 40px;
  position: relative;
}

.about-us::before {
  content: "";
  position: absolute;
  bottom: 653px;
  left: ;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts {
	width: 560px;
	min-height: 655px;
  padding-top: 8px;
  padding-left: 17px;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  bottom: 653px;
  left: 20px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us h3,
.contacts h3 {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	letter-spacing: 0.015em;
	font-style: normal;
	color: #000000;
  margin-bottom: 43px;
}

.contacts h3{
  padding-left: 1px;
}

.about-us p,
.contacts p {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
  letter-spacing: 0.0095em;
	font-style: normal;
	color: #464646;
}

.about-us p {
  padding-right: 72px;
  letter-spacing: 0.007em;
}

.contacts p {
  margin-bottom: 39px;
}

.contacts img {
  margin-bottom: 65px;
}

.about-us p:nth-of-type(1) {
  margin-bottom: 30px;
}

.about-us p:nth-of-type(2) {
  letter-spacing: -0.011em;
  margin-bottom: 66px;
}

.transport-companies_list {
	padding: 0;
	margin: 0;
  margin-bottom: 52px;
}

.about-us a {
	padding-left: 23px;
  padding-right: ;
	display: inline-block;
	width: 220px;
	height: 20px;
	padding-top: 10px;
  padding-bottom: 10px;
	text-align: center center;
	position: relative;
	z-index: 2;
}

.about-us a:hover,
.contacts a:hover {
background-color: #f0c52e;
width: 237px;
}

.contacts a:hover {
	width: 220px;
}

.about-us a::after {
	content: "";
	position: absolute;
	top: 18px;
	left: 0px;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -1;
}

.contacts a {
 padding-bottom: 10px;
 display: inline-block;
width: 220px;
height: 20px;
padding-top: 10px;
padding-left: 44px;
position: relative;
z-index: 2;
}

.contacts a::after {
	content: "";
	position: absolute;
	top: 18px;
	left: 3px;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -1;
}

.transport-companies_item {
	position: relative;
	padding-left: 36px;
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 40px;
  letter-spacing: 0.0
	font-style: normal;
	color: #000000;
}

.transport-companies_item::before {
	content: "";
	position: absolute;
	top: 11px;
	left: -4px;
	width: 16px;
	height: 16px;
	background-image: url("../img/delivery-button.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
  opacity: 0.1;
}

.about-us a,
.contacts a { 
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
  letter-spacing: 0.2em;
	font-style: normal;
	color: #000000;
}

.index-footer,
.catalog-footer {
	width: 100%;
	min-height: 322px;
}

.index-footer_wrapper,
.catalog-footer_wrapper {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.index-footer,
.catalog-footer {
	background-color: #464646;
}

.socials_list {
	width: 160px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	margin: 0;
	padding-left: 156px;
	margin-top: 64px;
}

.socials_list li:nth-child(2) {
	margin-left:23px;
	margin-right: 22px;
}

.socials_button img {
	opacity: 0.3;
}

.socials_button img:hover {
	opacity: 0.6;
}

.socials_button img:active {
	opacity: 0.1;
}

.footer-left {
	width: 215px;
	padding-right: 100px;
	margin-top: 65px;
}

.footer-left 	g {
	margin-bottom: 12px;
}

.footer-left img:hover {
	opacity: 0.6;
}

.footer-left img:active {
	opacity: 0.3;
}

.footer-left p {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #ffffff;
  margin-top: 27px;
}

.footer-center {
	width: 487px;
	display: flex;
	flex-direction: column;
	margin-top: 116px;
	padding-top: 20px;
}

.footer-center_catalog {
	margin-top: 60px;
	padding-top: 2px;
}

.footer-navigation_list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
  justify-content: space-around;
  width: 440px;

}

.footer-navigation_list li:nth-child(1) {
	margin-right: 34px;
}

.footer-navigation_list li:nth-child(2) {
	margin-right: 32px;
}

.footer-navigation_item a {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 0.2em;
}

.footer-navigation_item:nth-child(1) a {
  padding-left: 34px;
} 

.footer-navigation_item a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-navigation_item a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-right {
	padding-top: 48px;
}

.user-interface_list_wrapper {
	width: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-interface_wrapper {
	display: flex;
}

.user-interface_list_footer {
	display: flex;
	justify-content: flex-start;
	width: 287px;
	padding: 0;
	padding-left: 2px;
}

.footer-interface_wrapper .user-interface_list_footer {
	width: 50px;
}

.user-interface_item_footer a {
	position: relative;
	padding-left: -20px;
}

.user-interface_item_footer a::before {
	content: "";
	position: absolute;
	top: 4px;
	left: -27px;
	width: 16px;
	height: 16px;
	background-image: url("../img/user.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.purchase_item_footer a:nth-child(1) {
	position: relative;
	padding-left: 23px;
}

.purchase_item_footer:nth-child(1) a::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 3px;
	width: 16px;
	height: 16px;
	background-image: url("../img/compare.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.purchase_item_footer:nth-child(2) a::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 1px;
	width: 16px;
	height: 16px;
	background-image: url("../img/cart.png");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.user-interface_list_footer a,
.purchase_list_footer a {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.7);
}

.purchase_list_footer {
	display: flex;
}

.purchase_list_footer li:nth-child(1) {
	margin-right: 40px;
}

.user-interface_list_footer a:hover,
.purchase_list_footer a:hover {
	color: rgb(255, 255, 255);
}

.user-interface_list_footer a:hover::before,
.purchase_list_footer a:hover::before {
	opacity: 0.6;
}

.user-interface_list_footer a:active,
.purchase_list_footer a:active {
	color: rgba(255, 255, 255, 0.3);
}

.user-interface_list_footer a:active::before,
.purchase_list_footer a:active::before {
	opacity: 0.3;
}

.footer-right p {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #ffffff;
  padding-left: 137px;
  padding-top: 7px;
  margin-bottom: 62px;
}

.footer-right > a {
	padding-left: 274px;
}

.footer-right > a:hover {
	opacity: 0.6;
}

.footer-right > a:active {
	opacity: 0.3;
}

.color_parameter label,
.bluetooth-availability label {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.visually-hidden input[value="ОТПРАВИТЬ"] {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.write-us {
	display: flex;
	flex-wrap: wrap;
	padding-left: 100px;
	padding-right: 100px;
}

.write-us textarea,
.write-us input[type="text"],
.write-us input[type="email"] {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
  color: rgba(70, 70, 70, 0.4);
  background-color: #f2f2f2;
	border: none;
}

.write-us textarea {
  padding-left: 20px;
  padding-top: 15px;
	color: rgba(70, 70, 70, 0.4);
  min-height: 141px;
}

.write-us input[type="text"],
.write-us input[type="email"] {
	box-sizing: border-box;
	width: 360px;
  height: 50px;
  padding-left: 20px;
}

.write-us label[for="write-us"],
.write-us label[for="your-email"] {
	width: 359px;
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.0em;
	font-style: normal;
	color: #464646;
	border: none;
	margin-bottom: 7px;
}

.write-us label[for="write-us"] {
  padding-left: 1px;
}

a[href="sign-out.html"] {
	line-height: 30px;
	color: #000000;
}

.container-catalog {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.breadcrumbs-wrapper {
	margin: auto;
	width: 1040px;
	min-height: 180px;
}

.breadcrumbs {
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.breadcrumbs li:nth-child(1),
.breadcrumbs li:nth-child(2) {
	position: relative;
	padding-right: 16px;
}

.breadcrumbs li:nth-child(1)::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 68px;
	width: 16px;
	height: 16px;
	background-image: url("../img/nav-arrow.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}
 
.breadcrumbs li:nth-child(2)::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 129px;
	width: 16px;
	height: 16px;
	background-image: url("../img/nav-arrow.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}


.catalog_wrapper {
	width: 100%;
	background-image: linear-gradient(to right, #eeeeee 36.77%, #ffffff 36.77%);
	width: 100%;
}

.catalog_content {
	display: flex;
	flex-wrap: wrap;
	width: 1180px;
	margin: auto;
}

.container-catalog h2 {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	letter-spacing: 0.012em;
	font-style: normal;
	color: #000000;
  margin-top: 37px;
	margin-bottom: 23px;
}

.breadcrumbs a, 
.breadcrumbs li {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
	padding-right: 20px;
  letter-spacing: 0.01em;
}

.filters {
	margin-left: 52px;
/*	margin-right: 140px;*/
	width: 200px;
}

.filter_color,
.filter_bluetooth {
	border: none;
}

.catalog_sorting {
	display: flex;
	flex-direction: column;
	width: 852px;
}

.catalog-enumeration_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}

.pagination-list {
	display: flex;
	justify-content: space-between;
}

.catalog-enumeration_list li {
	width: 360px;
}

.filters p,
.sorting h2 {
	display: inline-block;
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.2em;
	color: #000000;
	background-color: #dbdbdb;
}

.sorting h2 {
	background-color: #ebebeb;
}

.sorting a:nth-child(-n+4) {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	font-style: normal;
	letter-spacing: 0;
	color: rgba(0, 0, 0, 0.3);
}

.filters form {
background-color: #eeeeee;
}

.filter_color_list,
.filter_bluetooth_list {
	margin: 0;
	padding: 0;
}

.filter_color legend,
.filter_bluetooth legend {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #000000;
}

.color_parameter label,
.bluetooth-availability label {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #000000;
}

.filter_button {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 0.2em;
	color: #000000;
}

.enumeration_list_item a {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #000000;
}

.enumeration_list_item span {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #464646;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.search_interface-purchase_wrapper {
	display: flex;
}

.pop-up_form {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 960px;
	min-height: 553px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.pop-up_close {
	width: 55px;
	height: 55px;
	background-image: url("../img/modal-close.svg");
	background-repeat: no-repeat;
  background-color: transparent;
	position: absolute;
	border: 0;
  top: 22px;
  right: 0px;
}

.pop-up_form button[type="button"] {
	margin-left: auto;
	margin-right: 22px;
}

.pop-up_map {
/*	display: none;*/
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.input-name_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 93px;
	margin-right: 40px;
}

.input-email_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 93px;
}

.textarea_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 33px;
	width: 100%;
}

.textarea_wrapper > label {
  font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.0099em;
	font-style: normal;
	color: #464646;
	border: none;
	margin-bottom: 7px;
  padding-left: 1px;
}