@font-face {
		font-family: "Gilroy";
		src:
			local("gilroylight.woff2"),
			url(../fonts/gilroylight.woff2) format("woff2"),
			url(../fonts/gilroylight.woff) format("woff");
			font-weight: 300;
			font-style: normal;
}

@font-face {
		font-family: "Gilroy";
		src:
			local("gilroyextrabold.woff2"),
			url(../fonts/gilroyextrabold.woff2) format("woff2"),
			url(../fonts/gilroyextrabold.woff) format("woff");
			font-weight: 800;
			font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	text-decoration: none;
	background-color: #ffffff;
}

.main-header {
	width: 1040px;
	height: 298px;
	margin-top: 40px;
	padding: 0 60px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.main-header_catalog {
	height: 186px;
}

.main-header img {
	position: absolute;
	left: 59px;
	top: -18px;
}

.main-header img:hover {
	opacity: 0.6;
}

.main-header img:active {
	opacity: 0.3;
}

.search_interface-purchase_wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 1px;
}

.index-interface_list,
.purchase-list {
	padding: 0;
	margin: 0;
}

.index-interface_list {
	width: 260px;
	padding-left: 21px;
}

.purchase-list {
	display: flex;
	justify-content: space-between;
	width: 211px;
	margin-left: 7px;
}

.purchase-list li:nth-child(1) {
	position: relative; 
	padding-left: 30px;
}

.purchase-list li:nth-child(1):before {
	content: "";
	position: absolute;
	top: 6px;
	left: -1px;
	width: 16px;
	height: 16px;
	background-image: url("../img/compare.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.purchase-list li:nth-child(2) {
	position: relative; 
	padding-left: 30px;
}

.purchase-list li:nth-child(2):before {
	content: "";
	position: absolute;
	top: 4px;
	left: 8px;
	width: 16px;
	height: 16px;
	background-image: url("../img/cart.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.lists-wrapper {
	display: flex;
	justify-content: space-between;
	width: 500px;
	margin-top: 47px;
	margin-right: 1px;
}

.search-form {
	margin-top: 30px;
	margin-left: -1px;
	padding-top: 3px;
	position: relative;
	width: 440px;
	display: flex;
}


.search-input {
	width: 356px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
	background-color: #f7e296;
	padding-left: 37px;
	padding-top: 9px;
	padding-bottom: 6px;
	border: none;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 19px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-image: url("../img/search.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.search-input:focus {
	color: #000000;
	border-bottom: 2px solid black;
}

.search-button {
	display: none;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: rgb(0, 0, 0);
	background-color: #f7e296;
}

.search-input:focus + .search-button {
	width: 84px;
	height: 47px;
	display: block;
	border: 2px solid black;
}

.search-input:focus + .search-button:hover {
	background-color: #000000;
	color: #ffffff;
}

.search-input:hover {
	color: rgba(0, 0, 0, 0.6);
}

/*.search-button:hover {
	color: rgb(255, 255, 255);
	background-color: #000000;
}*/

.search-input:focus + .search-button:active {
	display: block;
	background-color: #000000;
	color: rgba(255, 255, 255, 0.3);
}

.list-style_reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

.index-interface_item {
	position: relative; 
	padding-left: 7px;
}

.index-interface_item:before {
	content: "";
	position: absolute;
	top: 4px;
	left: -20px;
	width: 16px;
	height: 16px;
	background-image: url("../img/user.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
}

.purchase-list li:nth-child(1) {
	padding-left: 20px;
}

.anchor-reset {
	text-decoration: none;
}

.main-header {
	background-color: #f7e296;
}

.interface-anchor {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
	font-style: normal;
	color: #000000;
}

.interface-anchor:hover {
	opacity: 0.6;
}

.interface-anchor:active {
	opacity: 0.3;
}

.navigation_list {
	margin: 0;
	padding: 0;
	padding-top: 33px;
	display: flex;
}

.catalog-open {
	position: relative;
	padding-right: 30px;
}

.catalog-open:after {
	content: "";
	position: absolute;
	top: 3px;
	right: 3px;
	width: 16px;
	height: 16px;
	background-image: url("../img/plus.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.navigation_list li:nth-child(4) {
	margin-right: -4px;
}

.navigation_list .navigation_item:first-child {
	box-sizing: border-box;
	margin-right: auto;
} 

.catalog_list {
	display: none;
}

.catalog-open:hover + .catalog_list {
	display: flex;
  flex-direction: column;
}

.slider-wrapper {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.slider-wrapper_inner {
	overflow: hidden;
}

.devices-slider {
	display: flex;
	width: 300%;
}

.slider-wrapper input[type="radio"] {
	display: none;
}

.radio_button1:checked ~ label[for="btn-1"] {
	border: 2px solid #cccccc;
}

.radio_button2:checked ~ label[for="btn-2"] {
	border: 2px solid #cccccc;
}

.radio_button3:checked ~ label[for="btn-3"] {
	border: 2px solid #cccccc;
}

#btn-1:checked ~ .slider-wrapper_inner .devices-slider {
	transform: translate(0);
}

#btn-2:checked ~ .slider-wrapper_inner .devices-slider {
	transform: translate(-1160px);
}

#btn-3:checked ~ .slider-wrapper_inner .devices-slider {
	transform: translate(-2320px);
}

.navigation_item>a,
.devices-slider a {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	letter-spacing: 0.2em;
	font-style: normal;
	color: #000000;
	text-transform: uppercase;
}

.devices-slider a {
	background-color: #f0c52e;
}

.slider_button {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.navigation_item>a:hover {
	opacity: 0.6;
}

.devices-slider a:hover {
	background-color: #f0c52e;
}

.navigation_item>a:active {
	opacity: 0.3;
	background-color: #f0c52e;
}

.devices-slider a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog_list_item a {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	letter-spacing: 0.01;
	color: #000000;
	
}

.catalog_list_item a:hover {
	opacity: 0.6;
}

.catalog_list_item a:active {
	opacity: 0.3;
}

.product-categories {
	width: 1160px;

	margin-left: auto;
	margin-right: auto;
}

.categories_list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

.categories_item {
	display: inline-block;
	box-sizing: border-box;
}

.categories_item h3 {
	display: inline-block;
	width: 160px;
}

.categories_item a {
	display: inline-block;
	background-color: #f7e296;
	width: 160px;
	height: 160px;
}

.categories_item:hover a {
	background-color: #f0c52e;
}

.categories_item a:active img {
	opacity:0.3;
}

.devices-slider b {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 56px;
	font-style: normal;
	color: #000000;
}

.advertising-info {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #464646;
}

.slider_1,
.slider_2,
.slider_3 {
	display: flex;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.slider_1_info th,
.slider_2_info p:nth-child(2),
.slider_3_info th {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 13px;
	font-weight: 300;
	line-height: 20px;
	font-style: normal;
	color: #464646;
}

.slider_1_info td,
.slider_2_info p:nth-child(1),
.slider_3_info td {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	font-style: normal;
	color: #000000;
}

.categories_item_heading {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.navigation_item_anchor {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.navigation_item:nth-child(2) {
	margin-right: 33px;
}

.navigation_item:nth-child(3) {
	margin-right: 109px;
}

.services {
	background-image: linear-gradient(to top, #e5e5e5 80.5%, #ffffff 18.5%);
	width: 100%;
}

.services_list {
	padding: 0;
	display: flex;

	width: 1160px;
	min-height: 386px;
	margin-left: auto;
	margin-right: auto;
}

.services_list li:nth-child(2),
.services_list li:nth-child(3) {
	display: none;
} 

.services_item {
	display: inline-block;
	width: 896px;
}

.services_item_heading {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	font-style: normal;
	color: #000000;
}

.services_item_info {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #464646;
}

.partners {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.partners_list {
	padding: 0;
	margin: 0;
	display: flex;

	min-height: 280px;
}

.partners_item {
	display: inline-block;
	margin: auto;
}

.information {
	display: flex;

	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.about-us h3,
.contacts h3 {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	font-style: normal;
	color: #000000;
}

.about-us p,
.contacts p {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #464646;
}

.transport-companies_item {
	font-family: "Gilroy", "Arial Black", sans-serif;*/
	font-size: 16px;
	font-weight: 800;
	line-height: 40px;
	font-style: normal;
	color: #000000;
}

.about-us a,
.contacts a { 
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.index-footer,
.catalog-footer {
	width: 100%;
	min-height: 322px;
}

.index-footer_wrapper,
.catalog-footer_wrapper {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.index-footer,
.catalog-footer {
	background-color: #464646;
}

.socials_button img {
	opacity: 0.3;
}

.socials_button img:hover {
	opacity: 0.6;
}

.socials_button img:active {
	opacity: 0.1;
}

.footer-left {
	width: 215px;
	margin-top: 65px;
}

.footer-left img:hover {
	opacity: 0.6;
}

.footer-left img:active {
	opacity: 0.3;
}

.footer-left p {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #ffffff;
}

.footer-center {
	display: flex;
	flex-direction: column;
}

.footer-navigation_item a {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #ffffff;
	letter-spacing: 0.2em;
}

.footer-navigation_item a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer-navigation_item a:active {
	color: rgba(255, 255, 255, 0.3);
}

.user-interface_list_footer a,
.purchase_list_footer a {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: rgba(255, 255, 255, 0.7);
}

.user-interface_list_footer a:hover,
.purchase_list_footer a:hover {
	color: rgb(255, 255, 255);
}

.user-interface_list_footer a:active,
.purchase_list_footer a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-right p {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
	font-style: normal;
	color: #ffffff;
}

.color_parameter label,
.bluetooth-availability label {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.visually-hidden input[value="ОТПРАВИТЬ"] {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	color: #000000;
}

.write-us {
	display: flex;
	flex-wrap: wrap;
	padding-left: 100px;
	padding-right: 100px;
}

.write-us textarea,
.write-us input[type="text"],
.write-us input[type="email"] {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	font-style: normal;
	color: #464646;
	background-color: #f2f2f2;
	border: none;
}

.write-us input[type="text"],
.write-us input[type="email"] {
	box-sizing: border-box;
	width: 362px;
}

.write-us label[for="write-us"],
.write-us label[for="write-us"] {
	width: 360px;
}

a[href="sign-out.html"] {
	line-height: 30px;
	color: #000000;
}

.container-catalog {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.breadcrumbs-wrapper {
	margin: auto;
	width: 1040px;
	min-height: 180px;
}

.catalog_wrapper {
	width: 100%;
	background-image: linear-gradient(to right, #eeeeee 36.77%, #ffffff 36.77%);
	width: 100%;
}

.catalog_content {
	display: flex;
	flex-wrap: wrap;
	width: 1180px;
	margin: auto;
}

.container-catalog h2 {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	font-style: normal;
	color: #000000;
}

.breadcrumbs a, 
.breadcrumbs li {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
}

.filters {
	margin-left: 52px;
/*	margin-right: 140px;*/
	width: 200px;
}

.filter_color,
.filter_bluetooth {
	border: none;
}

.catalog_sorting {
	display: flex;
	flex-direction: column;
	width: 852px;
}

.catalog-enumeration_list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.catalog-enumeration_list li {
	width: 360px;
}

.filters p,
.sorting h2 {
	display: inline-block;
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.2em;
	color: #000000;
	background-color: #dbdbdb;
}

.sorting h2 {
	background-color: #ebebeb;
}

.filters form {
background-color: #eeeeee;
}

.filter_color_list,
.filter_bluetooth_list {
	margin: 0;
	padding: 0;
}

.filter_color legend,
.filter_bluetooth legend {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #000000;
}

.color_parameter label,
.bluetooth-availability label {
	font-family: "Open Sans", "Arial Narrow", sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 40px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #000000;
}

.filter_button {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	font-style: normal;
	letter-spacing: 0.2em;
	color: #000000;
}

.enumeration_list_item a {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #000000;
}

.enumeration_list_item span {
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	font-style: normal;
	letter-spacing: 0.01em;
	color: #464646;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.search_interface-purchase_wrapper {
	display: flex;
}

.pop-up_form {
	display: flex;
	flex-direction: column;
	width: 960px;
	min-height: 553px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.pop-up_form button[type="button"] {
	margin-left: auto;
	margin-right: 22px;
}

.pop-up_map {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.input-name_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 98px;
	margin-right: 36px;
}

.input-email_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 98px;
}

.textarea_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 38px;
	width: 100%;
}